body {
  font-family: Arial, sans-serif;
}

#sobre {
  background-color: #f8f9fa;
}

#contato {
  background-color: #ffffff;
}

.bg-pink {
  /* border-color: #d63384; */
  text-align: center;
  /* color: #d63384; */
  border: 1px solid #d63384;
  border-radius: 7px;
  padding-top: 20px;
}

.bg-pinkBg {
  border-radius: 0 0px 5px 5px;
  background-color: #d63384;
  padding: 5px;
}